#next-fixture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: rgba(0,0,0,0.2);
  opacity: 0.7;
  margin: 0 30px 30px 30px;
  border-radius: 10px;
  padding: 10px;
}

#teams-display {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}